
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi

.metadata/.log

.metadata/.plugins/com.google.gwt.eclipse.core/clientBundleResources

.metadata/.plugins/com.google.gwt.eclipse.core/searchIndex

.metadata/.plugins/com.google.gwt.eclipse.core/uiBinderReferences

*.xml

*.version

*.index

*.prefs

.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache

.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache

*.dat

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

*.properties

.metadata/.lock

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

*.zip

*.jar

.metadata/.plugins/org.eclipse.cdt.core/.log

*.c

*.cpp

.metadata/.plugins/org.eclipse.core.resources/.projects/thinkalike/.markers

*.tree

*.resources

.metadata/.plugins/org.eclipse.equinox.p2.discovery.compatibility/cache/discovery-152323055

.metadata/.plugins/org.eclipse.equinox.p2.discovery.compatibility/cache/discovery-1691210082

*.txt

*.cfs

.metadata/.plugins/org.eclipse.m2e.core/nexus/26522e0d83a422eed93329ece7565cfc/segments_2

*.lock

*.del

.metadata/.plugins/org.eclipse.m2e.core/nexus/59dfd9a9a41387127dc41887d5697673/segments_h

.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_5

*.lifecyclemapping

*.ser

*.container

*.log

*.js

*.ini
