<!DOCTYPE html>
<html ng-app="thinkalike">
<head>
	<meta charset="utf-8">
	<title> Project: [Think Alike] </title>

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">


	<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular-ui-bootstrap.min.js"></script>		
	<script type="text/javascript" src="app/app.js"></script>
</head>
<body>
	<header>
		<h1 id="website-title"> [Project Logo]   [Think Alike]</h1> 
	</header>

	<nav class="navbar navbar-default navbar-static-top" role="navigation">
  		<div class="container">
			<ul class="nav navbar nav-pills">
		  		<li class="active"><a href="testpage.html">Home</a></li>

				<li class="dropdown">
   					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      					Profile <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu" role="menu">
				     	<li> Edit Profile </li>
				     	<li> Edit Profile Information </li>
				    </ul>
				</li>

				<li class="dropdown">
   					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
      					Dropdown <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu nav nav-pills" role="menu">
				     	<li> Show Project Details </li>
				     	<li> Edit Project Details </li>
				     	<li> Show Project Members </li>
				    </ul>
				</li>

				<li><a href="#">Message Board</a></li>
				
				<li>
					<form class="navbar-form navbar-left"  id="navform" role="search">
				  		<div class="form-group">
				  			<!-- use ng-model to search through project team members -->
				    		<input ng-model="team-search" type="text" class="form-control" placeholder="Search">
				  		</div>
					</form> 
				</li>
			</ul>
		</div>
	</nav>

	<!-- Placeholder for the View -->
	<div data-ng-view="">

	</div>

	<br /> <br /> <br />

	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading"><strong>Project Description</strong></div>
	    <div class="panel-body">
	    <p>
	    	Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.
	    </p>
	  	</div>

	  	<div ng-controller="TeamController as team" class="panel-heading"><strong>Project Team</strong></div>
	  	<div>
		  <!-- Table must be dynamically populated-->
		  <table class="table">
		  	<thead>
		        <tr>
		            <th>UserID</th>
		            <th>First Name</th>
		            <th>Last Name</th>
		            <th>Email</th>
		        </tr>
	    	</thead>
	    	<tbody>
	    		<div ng-repeat="member in team.projteam | orderBy:'name' ">
			        <tr>
			        	<!-- For ngrepeat (dynamically populate from DB) -->
			            <td> {{member.userId}} </td>
			            <td> {{member.firstname}} </td>
			            <td> {{member.lastname}} </td>
			            <td> {{member.email}} </td>
			        </tr>
			        <tr>
			            <td>1</td>
			            <td>Norman</td>
			            <td>Thansen</td>
			            <td></td>
			        </tr>
			        <tr>
			            <td>2</td>
			            <td>Derek</td>
			            <td>Willms</td>
			            <td></td>
			        </tr>
		    	</div>
		    </tbody>
		  </table>
		</div>
	</div>

	<!-- <div ng-controller="ProjectController as proj">
	  	<div ng-repeat="project in proj.projects | filter: search | orderBy:'title' : 'reverse' ">
			<div class="panel {{project.progress}} project-title">
				<div class="panel-heading">
				    <h3 class="panel-title"> {{project.title}} </h3>
				</div>
				<div class="panel-body"> {{project.description}} </div>
			</div>
		</div>
	</div> -->

</body>
</html>
